.dashboard {
    padding: 10px 30px;
    display: flex;

    .side-bar {
        padding: 40px;
        width: 20%;

        img {
            width: 200px;
        }

        ul {
            list-style: none;

            li {
                padding: 10px 0;
            }

            a {
                color: black;
                text-decoration: none;
                font-weight: bold;

                i {
                    margin-right: 20px;
                }
            }
        }

        .active {
            background-color: #A47750;

            a {
                color: white;
            }

        }
    }

    .content {
        width: 80%;
    }

}

.all-product {
    margin-left: 30px;

    h3 {
        margin: 15px 0;
    }

    table {
        width: 100%;

        tr {

            td,
            th {
                border: 1px solid gray;

                img {
                    width: 150px;
                }

                i {
                    cursor: pointer;
                    padding: 15px;
                }
            }

            th {
                text-align: center;
            }
        }
    }
}

.update-product {
    h3 {
        margin: 20px 0;
    }
    h4{
        margin: 15px 0;
    }
    .info-product {
        form {
            display: flex;
            gap: 30px;

            .info-left {
                width: 70%;
                display: flex;
                gap: 30px;

                div {
                    flex: 1;
                    label{
                        margin: 10px 0;
                        font-weight: bold;
                    }
                    input,
                    textarea {
                        width: 100%;
                    }
                    .price {
                        display: flex;
                        gap: 30px;

                    }
                }
            }

            .info-right {
                width: 30%;
                input,select{
                    width: 100%;
                }
                 label{
                        margin: 10px 0;
                        font-weight: bold;
                    }
            }
        }
    }
}